@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.custom-hover:hover .icon {
  color: green; 
}

.ant-form-item .ant-form-item-label {
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
}

.ant-btn {
  background-color: #6cbe00;
}



